.imagenPrincipal{
	text-align: center;
	background-color: black;
	margin: 0;
	width: 100%;
}

nav {
	position: absolute;
	top: 70px;
	right: 100px;
}

nav a {
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.decoracionTitulo {
	text-align: center;
	background: #bdc3c7;
	margin: 0;
}

.fondo {
	width: 90%;
	margin: 10px;
}

.imgFondo {
	background: linear-gradient(to bottom, #0F2027, #203A43, #2C5364);
	text-align: center;
}

.informacion{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	background: #F5DEB3;
	margin: 10px;
	padding: 20px;
}

.masOpciones {
	background: linear-gradient(#FFFDE4, #005AA7);
	padding: 5px;
}

.opciones {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
}

.lista {
	font-size: 20px;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: 5%;
}
